.titulo2{
   text-align: center;
   font-size: 200%;
   color: #454463;
   font-weight: normal;
   margin-bottom: 0.5em;
   width: 100%;

}
.form-container {
   margin:0 auto;
   width: 400px;
   height: 240px;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border: 20px solid #79A1BD;
}

.form-container label {
   display: block;
   margin-bottom: 8px;
}
.form-container input {
   width: 100%;
   padding: 8px;
   margin-bottom: 16px;
   box-sizing: border-box;
   border-radius: 24em;
   border: 1px solid black;
}
.dois{
   text-align: center;
   margin-top: 2em;
}
.dois button{
   background-color: transparent;
   border: none;
}
.dois button a{
   display: block;
   width: 8em;
   height: 2em;
   font-size: 120%;
   background-color: #9B89A7;
   border-radius: 24em;
   margin: 0 auto;
   display: flex;

   justify-content: center;
   align-items: center;
}
a{
   text-decoration:none;
   color:white;
}
input[type=submit]{
   width: 17em;
   height: 2.8em;
   font-size: 1em;
   background-color: #9B89A7;
   display: block;
   border-radius: 24em;
   border:none;
   margin: 0 auto;
   margin-bottom: 1.3em;
   color:white;

}

